.ng-cloak {
	display: none;
}

body, html {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 30px;
	padding: 5px 5px 0 5px;
}

.header .brand {
	background: url(/static/icon.png) top left no-repeat;
	height: 30px;
	padding-left: 30px;
	line-height: 25px;
	margin-right: 10px;
	display: inline-block;
}

.header .info {
	float: right;
	margin-bottom: 5px;
}
.header .account + .dropdown-menu {
	right: 0;
	left: auto;
}

#btn-menu + .dropdown-menu {
	right: 0;
	left: auto;
}

.nav {
	padding: 8px;
	background: #34495e;
	height: 26px;
	margin: 0px;
	clear: both;
}
.nav.top {
	margin-top: 5px;
}
.nav .title {
	color: white;
	text-align: center;
	height: 26px;
	font-size: 16px;
	line-height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.nav > .btn {
	margin-right: 10px;
}
.nav .pull-right > .btn:first-child {
	margin-left: 10px;
}

.block {
	min-height: 200px;
}

/** feed list **/

ul.feed-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul.feed-list > li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	line-height: 22px;
	overflow: auto;
}
ul.feed-list > li > i {
	float: left;
	margin-top: 4px;
}
ul.feed-list > li > span.title {
	margin-left: 25px;
	display: block;
	margin-right: 50px;
}
ul.feed-list > li > span.count {
	float: right;
	color: #888;
}
ul.feed-list.in > li.feed {
}

/** story list **/

ul.story-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul.story-list > li {
	min-height: 40px;
	border: 2px solid #fff;
	border-top: 1px solid #ccc;
	cursor: pointer;
	overflow: auto;
}
ul.story-list > li.open {
	cursor: default;
}
ul.story-list .head {
	background: #eee;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	font-size: 12px;
	cursor: pointer;
}
ul.story-list .head .next {
	float: right;
	height: 30px;
	line-height: 30px;
}
ul.story-list .meta {
	padding: 4px 8px;
	font-size: 12px;
	color: #888;
}
ul.story-list .meta i {
	float: left;
	margin-top: 10px;
}
ul.story-list .meta p {
	margin: 0;
}
ul.story-list .meta .title {
	font-size: 14px;
}
ul.story-list .meta span.title {
	color: black;
}
ul.story-list .unread .meta .title {
	font-weight: bold;
}
ul.story-list > li.story {
	background: #eee;
	border-color: #eee;
	border-top-color: #ccc;
}
ul.story-list > li.story.unread {
	background: #fff;
	border-color: #fff;
	border-top-color: #ccc;
}
ul.story-list > li.story.open {
	background: #fff;
	border: 2px solid #3498db;
}
ul.story-list .content {
	margin: 8px;
	cursor: default;
}
ul.story-list .action {
	height: 30px;
	line-height: 30px;
	background: #eee;
	padding: 0 8px;
	font-size: 12px;
}
ul.story-list .action span {
	margin-right: 10px;
}
ul.story-list .action a {
	text-decoration: none;
	color: black;
}
ul.story-list .action input,
ul.story-list .action label {
	display: inline;
	margin: 0px;
	font-size: 12px;
}
ul.story-list > li.mark-read {
	border: 0px;
}
ul.story-list > li.more {
	padding: 8px;
}
ul.story-list > li.more p {
	margin: 0;
	font-size: 12px;
}
ul.story-list > li.more p:first-child {
	font-size: 14px;
	color: #08c;
	font-weight: bold;
}
ul.story-list > li.more p a {
	font-size: 14px;
}
ul.story-list > li.mark-read p {
	text-align: right;
	margin: 16px 8px 8px 8px;
	font-size: 12px;
}

.reset, .reset * {
	font-size: 14px;
}
.reset img {
	max-width: 100%;
}
.reset a {
	color: #08c;
}
.reset {
	overflow: auto;
}

#loading {
	padding: 10px;
}

