.ng-cloak {
	display: none;
}

body, html {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 40px;
}

.header .brand {
	background: url(/static/icon.png) top left no-repeat;
	height: 30px;
	display: inline-block;
	padding-left: 30px;
	line-height: 30px;
	margin: 5px;
}

.header .info {
	float: right;
	margin: 8px 8px 0 0;
}
.header .info > div {
	margin-left: 5px;
	display: inline-block;
}
.header .account + .dropdown-menu {
	right: 0;
	left: auto;
}

#btn-menu + .dropdown-menu {
	right: 0;
	left: auto;
}

.nav {
	padding: 8px;
	background: #34495e;
	height: 26px;
	margin: 0px;
}
.nav .title {
	color: white;
	text-align: center;
	height: 26px;
	font-size: 16px;
	line-height: 26px;
}

ul.feed-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul.feed-list li {
	height: 40px;
	line-height: 40px;
	padding: 0 8px;
	border-bottom: 1px solid #ccc;
}
ul.feed-list li > span.count {
	float: right;
}
ul.feed-list li > span.title {
	margin-left: 5px;
}
ul.feed-list li > span.title:first-child {
	margin-left: 25px;
}
ul.feed-list li.feed {
	padding-left: 40px;
}
ul.feed-list li.feed.root {
	padding-left: 8px;
}
ul.feed-list span.title.unread {
	font-weight: bold;
}

ul.story-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul.story-list li {
	min-height: 40px;
	border: 2px solid #fff;
	border-top: 1px solid #ccc;
}
ul.story-list .closer {
	background: #eee;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	font-size: 12px;
}
ul.story-list .closer .next {
	float: right;
	height: 30px;
	line-height: 30px;
}
ul.story-list .meta {
	padding: 4px 8px;
}
ul.story-list .meta i {
	float: left;
	margin-top: 10px;
}
ul.story-list .meta p {
	margin: 0;
}
ul.story-list .story.unread .meta .title {
	font-weight: bold;
}
ul.story-list li.story {
	background: #eee;
	border-color: #eee;
	border-top-color: #ccc;
}
ul.story-list li.story.unread {
	background: #fff;
	border-color: #fff;
	border-top-color: #ccc;
}
ul.story-list li.story.open {
	background: #fff;
	border: 2px solid #f00;
}
ul.story-list .content {
	padding: 0 8px;
}
ul.story-list .meta .feed-title,
ul.story-list .meta .excerpt,
ul.story-list .meta .info {
	font-size: 12px;
	color: #888;
}
ul.story-list .action {
	height: 30px;
	line-height: 30px;
	background: #eee;
	padding: 0 8px;
	font-size: 12px;
}
ul.story-list .action span {
	margin-right: 10px;
}
ul.story-list .action a {
	text-decoration: none;
	color: black;
}
ul.story-list .action input,
ul.story-list .action label {
	display: inline;
	margin: 0px;
	font-size: 12px;
}
ul.story-list li.mark-read {
	border: 0px;
}
ul.story-list li.more {
	padding: 8px;
}
ul.story-list li.more p {
	margin: 0;
	font-size: 12px;
}
ul.story-list li.more p a {
	font-size: 14px;
}
ul.story-list li.mark-read p {
	text-align: right;
	margin: 16px 8px 8px 8px;
	font-size: 12px;
}

#loading {
	height: 200px;
	padding: 10px;
}

