<!DOCTYPE html>
<html lang="en" ng-app="goReadMobileApp">
<head>
<title>go read</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="{{.BootstrapCss}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/mobile.css"/>
</head>
<body class="ng-cloak"
	data-url-feeds="/static/list-feeds.json"
	data-url-feeds-orig="{{url "list-feeds"}}"
	ng-controller="MainController"
	ng-init="init()">

<div class="header">
	<div class="brand">go read</div>
	<div class="info">
		<div><a href="" id="btn-upgrade" class="btn btn-success btn-small">Upgrade</a></div>
		<div class="btn-group">
			<a class="btn btn-small dropdown-toggle account" data-toggle="dropdown" href="#">
				email@example.com <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			<li><a href="">logout</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="nav top">
	<div class="btn btn-small pull-left btn-back"
		ng-show="backButton"
		ng-bind="backButton.label"
		ng-click="backButtonClick()"></div>
	<div class="pull-right">
		<div class="btn btn-small" id="btn-refresh"><i class="icon-repeat"></i></div>
		<div class="btn-group">
			<a class="btn btn-small dropdown-toggle" id="btn-menu" data-toggle="dropdown" href="#">
				<i class="icon-chevron-down"></i>
			</a>
			<ul class="dropdown-menu">
			<li><a href="">show all</a></li>
			<li><a href="">show updated</a></li>
			<li class="divider"></li>
			<li><a href="">add subscription</a></li>
			</ul>
		</div>
	</div>
	<div class="title" ng-bind="title"></div>
</div>

<div class="content">

<!-- story list -->
<div id="story-list" ng-show="!loading && mode=='story'" ng-controller="StoryController">
<ul class="story-list">
<li>
	<div class="meta">
		<i class="icon-star"></i>
		<p>
			<span class="title">Story title</span>
			<span class="feed-title">- feed title</span>
		</p>
		<p class="excerpt">this is an excerpt - hidden when opened</p>
	</div>
</li>
<li class="open">
	<div class="closer">
		<p class="next"><i class="icon-arrow-down"></i> Next item</p>
		<p><i class="icon-th-large"></i> Collapse</p>
	</div>
	<div class="meta">
		<i class="icon-star"></i>
		<p>
			<a href="" class="title unread">Story title</a>
			<span class="feed-title">- feed title</span>
		</p>
		<p class="info">this is the info - hidden when closed</p>
	</div>
	<div class="content">
		<p>this is the content</p>
	</div>
	<div class="action">
		<span>
			<input type="checkbox" id="unread-XXX"/>
			<label for="unread-XXX">Keep unread</label>
		</span>
		<span><i class="icon-envelope"></i> Email</span>
	</div>
</li>
<li>
	<div class="meta">
		<i class="icon-star"></i>
		<p>
			<span class="title unread">Story title</span>
			<span class="feed-title">- feed title</span>
		</p>
		<p class="excerpt">this is an excerpt - hidden when opened</p>
	</div>
</li>
<li>
	<div class="meta">
		<i class="icon-star"></i>
		<p>
			<span class="title">Story title</span>
			<span class="feed-title">- feed title</span>
		</p>
		<p class="excerpt">this is an excerpt - hidden when opened</p>
	</div>
</li>
<li class="load more">
	<p><a href="#">Load more items</a></p>
	<p>more than 100 items</p>
</li>
<li class="no more">
	<p>9 items</p>
</li>
<li class="mark-read control">
	<p><a href="#">Mark these items as read</a></p>
</li>
</ul>
</div><!-- // story list -->

<!-- feed list -->
<div id="feed-list" ng-show="!loading && mode=='feed'" ng-controller="FeedController">
<ul class="feed-list">
<li ng-hide="current"
	ng-click="showAllItems()">
	<i class="icon-folder-open"></i>
	<span class="title unread">All items</span>
	<span class="count">100+</span>
</li>
<li ng-hide="current">
	<span class="title">Read items</span>
	<span class="count">100+</span>
</li>
<li
	ng-click="showFolder(current)"
	ng-show="current">
	<i class="icon-folder-open"></i>
	<span class="title" ng-bind="current.Title"></span>
</li>
<li
	ng-repeat="feed in feeds"
	ng-click="activate(feed)"
	ng-class="{'feed':!feed.Outline, 'root':!current}">
	<i ng-class="{'icon-th':!feed.Outline, 'icon-folder-open':feed.Outline}"></i>
	<span class="title" ng-bind="feed.Title"></span>
</li>
</ul>
</div><!-- //feed-list -->

<!-- loading -->
<div id="loading" ng-show="loading">
	<p>loading..</p>
</div>

</div><!-- //content -->

<div class="nav bottom">
	<div class="btn btn-small pull-left btn-back"
		ng-show="backButton"
		ng-bind="backButton.label"
		ng-click="backButtonClick()"></div>
</div>

	<script src="{{.Jquery}}"></script>
	<script src="{{.Underscore}}"></script>
	<script src="{{.BootstrapJs}}"></script>
	<script src="{{.Angular}}"></script>
	<script type="text/javascript" src="/static/js/mobile.js"></script>
</body>
</html>

